<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://drive.google.com/uc?export=view&id=0B_mwrIfE3AVldDJsSlg3Ry1VMDQ</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://tryone144.github.io/itms/wera/ic-weratools_pos_install.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://tryone144.github.io/itms/wera/ic-weratools_pos_itunes.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>de.co-de.Wera-Tools-POS</string>
				<key>bundle-version</key>
				<string>1.1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Wera-Tools POS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
